body {
    background-color: #001f3f;
    font-family: Verdana, sans-serif;
}

h1 {
    color: #FFFFFF;
    font-family: Verdana, sans-serif;
}

p {
    color: #FFFFFF;
    font-family: Verdana, sans-serif;
}

ul li {
    color: #FFFFFF;
    font-family: Verdana, sans-serif;
}

a:link {
    color: #FFDC00; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: #FFDC00;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #FFDC00;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #FFDC00;
    background-color: transparent;
    text-decoration: none;
}
