body {
    background-color: #EAECEE;
    font-family: Roboto, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li { 
    padding-left: 16px; 
}

li:before {
    content: "-";
    padding-right: 8px;}

a:link {
    color: #C0392B;
    text-decoration: none;
}

a:visited {
    color: #C0392B;
    text-decoration: none;
}

a:hover {
    color: #C0392B;
    text-decoration: none;
}

a:active {
    color: #C0392B;
    text-decoration: none;
}

div.my_class {
    background-color: #FDFEFE;
    color: #17202A;
    font-family: Roboto, Verdana, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px;
}
