body {
    background-color: #EAECEE;
    font-family: Roboto, Verdana, sans-serif;
}

h1 {
    font: 50px Roboto, Verdana, sans-serif;
    font-variant: small-caps;
    color: #922B21;
    text-align: center;
    letter-spacing: 4px;
}

h2 {
    font-variant: small-caps;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li { 
    padding-left: 16px; 
}

li:before {
    content: "-";
    padding-right: 8px;}

a:link {
    color: #922B21;
    text-decoration: none;
}

a:visited {
    color: #922B21;
    text-decoration: none;
}

a:hover {
    color: #922B21;
    text-decoration: none;
}

a:active {
    color: #922B21;
    text-decoration: none;
}

div.card {
    background-color: #FDFEFE;
    color: #17202A;
    font-family: Roboto, Verdana, sans-serif;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.image {
    margin: auto;
}
